.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  color: black;
  margin: 30px 20px;
}
.title {
  font-weight: lighter;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: left;
}
.subtitle{
  margin-top: 5px;
  text-align: left;
}
.horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.vertical {
  display: flex;
  flex-direction: column;
}
img {
  align-self: start;
  margin: 20px;
  width: 90px;
}
.email {
  margin: 0 10px;
}
.name {
  margin-top: 20px;
  margin-left: 10px;
}
button {
  margin-top: 10px;
}
.card_horizontal {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 10px;
}

