.spinner_overlay {
  height: 100px;
  width: 300px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid lightgray;
}

mat-spinner {
  opacity: 1;
}
.spinner_overlay p {
  padding: 15px;
  margin: 10px;
}
.container{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 199;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
