<div class="home">
<!--  <button mat-stroked-button (click)="logout()">Logout</button>-->
  <div class="left_bar"></div>
  <div class="content">
    <mat-tab-group  dynamicHeight>
      <mat-tab label="Primary Details">

      </mat-tab>
      <mat-tab label="Availabilities">
        <div class="example-large-box mat-elevation-z4">
          Large content
        </div>
      </mat-tab>
      <mat-tab label="Facilities">
        <div class="example-large-box mat-elevation-z4">
          Large content
        </div>
      </mat-tab>
      <mat-tab label="Blood Bank">
        <div class="example-large-box mat-elevation-z4">
          Large content
        </div>
      </mat-tab>
      <mat-tab label="Emergency">
        <div class="example-large-box mat-elevation-z4">
          Large content
        </div>
      </mat-tab>
      <mat-tab label="Bookings">
        <div class="example-large-box mat-elevation-z4">
          Large content
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
