<div class="primary-items">
  <ng-form class="form1" #f (ngSubmit)="update()">
    <div class="horizontal">
      <mat-form-field appearance="outline">
        <mat-label>Beds Available</mat-label>
        <input type="number" matInput name="beds_available" [(ngModel)]="availability.vacant_bed">

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Beds Available</mat-label>
        <input matInput type="number" name="beds" [(ngModel)]="availability.no_of_bed">

      </mat-form-field>
    </div>

    <div class="horizontal">
      <mat-form-field appearance="outline">
        <mat-label>ICU Available</mat-label>
        <input type="number" matInput name="icu_available" [(ngModel)]="availability.vacant_icu">

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>ICU Total</mat-label>
        <input matInput type="number" name="icu" [(ngModel)]="availability.icu">

      </mat-form-field>
    </div>

    <div class="horizontal">
      <mat-form-field appearance="outline">
        <mat-label>CCU Available</mat-label>
        <input type="number" matInput name="ccu_available" [(ngModel)]="availability.vacant_ccu">

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>CCU Total</mat-label>
        <input matInput type="number" name="ccu" [(ngModel)]="availability.ccu">

      </mat-form-field>
    </div>

    <div class="horizontal">
      <mat-form-field appearance="outline">
        <mat-label>Ventilators Available</mat-label>
        <input type="number" matInput name="ventilators_avalable" [(ngModel)]="availability.vacant_ventilators">

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Total Ventilators</mat-label>
        <input matInput type="number" name="ventilators" [(ngModel)]="availability.ventilators">

      </mat-form-field>
    </div>

    <div class="horizontal">
      <mat-form-field appearance="outline">
        <mat-label>Oxygen Cylinder Available</mat-label>
        <input type="number" matInput name="available_oxy" [(ngModel)]="availability.vacant_oxygen_cylinders">

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Total Oxygen Cylinder</mat-label>
        <input matInput type="number" name="oxygen" [(ngModel)]="availability.oxygen_cylinders">

      </mat-form-field>
    </div>
    <button class="update-btn" color="primary" mat-raised-button (click)="update()">Update</button>
  </ng-form>
</div>
