<img src="assets/mainActivity.png" alt="" class="login-image">
<div class="login">
  <img src="assets/health.io.png" alt="">
  <mat-form-field appearance="outline">
    <mat-label>Feeder Email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Feeder Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" required [formControl]="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Feeder Licence ID</mat-label>
    <input matInput placeholder="LB019348241" [formControl]="licence_id" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <button mat-stroked-button class="submit" (click)="login()">Login</button>
</div>

