.bookings_page {
  display: flex;
  height: calc(100vh - 120px);
  overflow-y: scroll;
  flex-direction: column;
}

.item_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  grid-gap: 10px;
  margin: 10px;
}
.page_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
}
.search_bar {
  margin-right: 20px;
}
.empty {
  position: relative;
  top: 28%;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.filters {
  display : flex;
  flex-direction: column;
  margin: 10px 20px;
}
.filters mat-chip-list {
  margin-top: 10px;
}

.filter_day {
  width: 100%;
  display: flex;
  flex-direction: row ;
}
.count {
  width: 98%;
  text-align: right;
}
