<div class="bookings_page">
  <app-spinner-overlay [visible]="isSpinnerVisible"></app-spinner-overlay>
  <div class="page_header" *ngIf="!isEmpty">
    <div class="filters" >
      <mat-chip-list selectable="true" multiple="false">
        <mat-chip *ngFor="let day of days" [selected]="isSelectedDay(day)" (click)="changeDay(day)">
          {{day.name}}&nbsp;
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list selectable="true" multiple="false">
        <mat-chip *ngFor="let st of status" [selected]="isSelectedStatus(st)" (click)="changeStatus(st)">
          {{st.name}}&nbsp;
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list selectable="true" multiple="false">
        <mat-chip *ngFor="let type of types" [selected]="isSelectedType(type)" (click)="changeType(type)">
          {{type.name}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="search_bar">
      <mat-form-field class="search_bar_input" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text" placeholder="Search by anything" [(ngModel)]="searchText" (keyup)="filterByDays()">
        <button mat-icon-button matSuffix (click)="filterByDays()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <mat-hint class="count" style="margin-top: -30px" *ngIf="!isEmpty">{{this.bookings.length}} Results</mat-hint>
  <div class="item_list" *ngIf="!isEmpty else showEmptyMessage">
    <div class="bookings" *ngFor="let booking of bookings">
      <app-booking-item [booking]="booking"></app-booking-item>
    </div>
  </div>
  <ng-template #showEmptyMessage>
    <div class="empty">
      <img src="assets/empty.jpeg" alt="Empty Element">
      <br>
      <p> There isn't any Bookings for Now </p>
      <button mat-stroked-button (click)="reload()">
        <mat-icon style="margin-right: 5px">cloud_sync</mat-icon>
        Reload
      </button>
    </div>
  </ng-template>
</div>

