<div class="bookings_page">
  <app-spinner-overlay [visible]="isSpinnerVisible"></app-spinner-overlay>
  <div class="item_list" *ngIf="!isEmpty else showEmptyMessage">
    <div class="bookings" *ngFor="let booking of bookings">
      <app-booking-item [booking]="booking"></app-booking-item>
    </div>
  </div>
  <ng-template #showEmptyMessage>
    <div class="empty">
      <img src="assets/empty.jpeg" alt="Empty Element">
      <br>
      <p> There isn't any Bookings for Now </p>
      <button mat-stroked-button (click)="reload()">
        <mat-icon style="margin-right: 5px">cloud_sync</mat-icon>
        Reload
      </button>
    </div>
  </ng-template>
</div>

